@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  color: #2a2a2a;
  background-color: $branco;
  line-height: 1.5;
}

header{
    background-image: url("./assets/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 80vh;
    text-align: center;
    background-color: white;
    
    
    
    
    
    h1{
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 15px;
        color: #FFFFFF;
        line-height: 1.5;
        
    }
    
    p{
        font-size: 2rem;
        width: 50vw;
        margin: 0 auto;
        margin-bottom: 25px;
        font-weight: bold; 
        color: #FFFFFF;
        line-height: 1.5;
        
    }
    
    button{
        background-color:#66BB6A;
        color: white;   
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }
    
    .box-header{
        background:rgba(0,0,0,0.4);
        height: inherit;
        padding: 200px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}

.cards{
    background-color: #f1f8c9;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .card{
        background-color: white;
        width: 250px;
        height: 340px;
        margin: 15px;
        padding-bottom: 20px;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        justify-content: space-between;

        img{
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        button{
            background-color: #66BB6A;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            box-sizing: border-box;
            margin-top: 20px;
            padding:10px 40px;
            cursor: pointer;
            border-radius: 30px;
        }
    }
}
.forms{
    margin-top: 40px;
    padding: 50px 20px;
    height: 80vh;
    text-align: center;
    
    input{
        color:  #2a2a2a62;
        display: block;
        margin: 20px auto;
        padding: 20px 100px;
        font-size: 1rem;
        font-weight: bold;
        width: 425px;
        border-radius: 10px;
        border: 1px solid #ccc;
       
    }
    select{
        color:  #2a2a2a7c;
        display: block;
        margin: 20px auto;
        padding: 20px 100px;
        width: 425px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        border: 1px solid #ccc;
        
    }
    button{
        background-color:#66BB6A;
        color: white;   
        width: 425px;
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
    }

}
footer{
    background-color: #66BB6A;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
}

